:root {
  --background: #f9f7f3;
  --white: rgb(255, 255, 255);
  --blue: #345B6F;
  --dark-blue: #2B2D42;
  --orange: #9F4A54;
  --light-orange: #F7B267;
  --box-shadow: #a7845f;
}


#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Urbanist, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: var(--background);
  color: var(--blue);
}

#heading {
  color:  var(--dark-blue);
  margin-top: 60px;

}

#grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  width: 75%;
  height: 50vh;
  text-align: center;
  margin-top: none;
  max-width: 700px;
}

#time-controls {
  grid-column: 2/6;
  grid-row: 2;
  background-color: var(--white);
  padding: 15px 0;
  border: 1px solid var(--light-orange);
  border-radius: 3px;
  box-shadow: 1px 1px 1px var(--box-shadow);
}

#time-controls-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#break-label {
  grid-column: 1;
  grid-row: 1;
  font-size: 22px;
}

/* second grid for break & work time controls */
.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border: 1px solid var(--orange);
  padding: 5px 0;
  margin: 0 15px;
  border-radius: 3px;
}

#break-controls {
  grid-column: 1;
  grid-row: 2;
}

#break-decrement {
  grid-column: 3;
  grid-row: 1;

}

#break-length {
  grid-column: 2;
  grid-row: 1;
}

#break-increment {
  grid-column: 1;
  grid-row: 1;

}

#session-label {
  grid-column: 2;
  grid-row: 1;
  font-size: 22px;

}

#session-controls {
  grid-column: 2;
  grid-row: 2;
}

#session-decrement {
  grid-column: 3;
  grid-row: 1;

}

#session-length {
  grid-column: 2;
  grid-row: 1;
}

#session-increment {
  grid-column: 1;
  grid-row: 1;

}

#timer{
  grid-column: 2 / 6;
  grid-row: 4;
  background-color: var(--white);
  border: 1.5px solid var(--light-orange);
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 1px 1px 2px var(--box-shadow);

}

#timer-label {
  grid-column: 2/4;
  grid-row: 1;
  font-size: 40px;
  color: var(--orange);
  margin-top: 30px;
}

#time-left {
  grid-column: 1/5;
  grid-row: 2;
  font-size: 60px;
  margin: 10px 0px 30px 0px;
  color: var(--dark-blue);
}

#start_stop {
  grid-column: 2;
  grid-row: 3;
}

#reset {
  grid-column: 3;
  grid-row: 3;
}

.btn-caret, .timer-buttons {
  color: var(--light-orange);
  height: 30px;
  width: 20px;
  border: none;
  background-color: var(--background);
  border-radius: 5px;
  justify-self: center;
}

.timer-buttons {
  width: 40px;
  margin-top: 30px;
}

.btn-icon {
  pointer-events: none;
}
